In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv("Employee.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Departments            14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [14]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Departments              0
salary                   0
dtype: int64

In [15]:
df.Work_accident.value_counts()

Work_accident
0    12830
1     2169
Name: count, dtype: int64

In [16]:
df.salary.value_counts()

salary
low       7316
medium    6446
high      1237
Name: count, dtype: int64

In [17]:
le = LabelEncoder()
df["salary"] = le.fit_transform(df["salary"])
df.salary.value_counts()

salary
1    7316
2    6446
0    1237
Name: count, dtype: int64

In [18]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Departments ', 'salary'],
      dtype='object')

In [19]:
X = df.drop(columns = ["left","Departments "])
Y = df["left"]
X.head()
scaler = StandardScaler()
X.iloc[:,:5] = scaler.fit_transform(X.iloc[:,:5].values)

X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary
0,-0.936495,-1.087275,-1.462863,-0.882040,-0.341235,0,0,1
1,0.752814,0.840707,0.971113,1.220423,1.713436,0,0,2
2,-2.022479,0.957554,2.593763,1.420657,0.343655,0,0,2
3,0.431041,0.899131,0.971113,0.439508,1.028546,0,0,1
4,-0.976716,-1.145699,-1.462863,-0.841993,-0.341235,0,0,1

In [20]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 41)

model = DecisionTreeClassifier(criterion = 'entropy').fit(X_train.values, Y_train.values)
Y_predicted = model.predict(X_test.values)

res_df = pd.DataFrame({"Predicted churn":Y_predicted, "Actual churn":Y_test})
res_df

       Predicted churn  Actual churn
3805                 0             0
11844                0             0
7851                 0             0
2762                 0             0
4354                 0             0
...                ...           ...
10643                0             0
5986                 0             0
11782                0             0
14894                1             1
13411                0             0

[4500 rows x 2 columns]

In [22]:
accuracy_score(Y_test, Y_predicted)*100

97.51111111111112

In [23]:
confusion_matrix(Y_test,Y_predicted)

array([[3359,   69],
       [  43, 1029]])

In [24]:
print(classification_report(Y_test, Y_predicted))

              precision    recall  f1-score   support

           0       0.99      0.98      0.98      3428
           1       0.94      0.96      0.95      1072

    accuracy                           0.98      4500
   macro avg       0.96      0.97      0.97      4500
weighted avg       0.98      0.98      0.98      4500

In [38]:
test_input = np.array([0.90, 0.53, 2, 157, 3, 1, 0, 1])
test_input_copy = np.array([0.90, 0.53, 2, 157, 3, 1, 0, 1])
test_input = test_input.reshape(1,-1)
test_input[:,:5] = scaler.transform(test_input[:,:5])
left_or_not = model.predict(test_input)
if(left_or_not[0] ==0):
    print(f"Based on inputs {test_input_copy.tolist()}\nEmployee Will likely stay")
if(left_or_not[0] == 1):
    print(f"Based on inputs {test_input_copy.tolist()}\nEmployee will leave")

Based on inputs [0.9, 0.53, 2.0, 157.0, 3.0, 1.0, 0.0, 1.0]
Employee Will likely stay